ecornell/User Defined/finalproject/__pycache__/funcs.cpython-312.pyc
ecornell/User Defined/finalproject/__pycache__/funcs.cpython-311.pyc

ecornell/User Defined/finalproject/__pycache__/tests.cpython-312.pyc
ecornell/User Defined/finalproject/__pycache__/tests.cpython-311-pytest-7.4.0.pyc
ecornell/User Defined/finalproject/__pycache__/funcs.cpython-312.pyc
ecornell/User Defined/finalproject/__pycache__/funcs.cpython-312.pyc
